<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Delete</title>
<link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>

    <!-- Include Dexie -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

<script>
	$.ajax({
		url : "/lockcandidate",
		success : function(data) {
			var select = '';
			$.each(data, function(key, value) {
				select += '<option val=' + value.lock_id + 'class="form-control" id="opsn">'
						+ value.lock_id+ '</option>';
				console.log(value.lock_id);
			})
			$('#id').html(select);
		},

		type : 'GET',
	});

	function doconfirm() {
		var c = confirm("are you sure to delete the record?");
		if (c == true) {
			$.ajax({
				type : 'DELETE',
				url : "/lockcandidate/" + $("#id").val(),
				contentType:"application/json",
				success : function(response, status) {
					window.location.href="/LockCandidateDisplay";
					alert("Successfully Deleted")
					console.log(status);
				}
			})
		}
	}

</script>

</head>
<body>
	<label class="form-label">Lock Id</label>
	<select id="id" class="form-select select"></select>
	
	<button onclick="doconfirm();"
		style="font-family: Monospace; font-size: 14px; color: black; font-weight: 700;"
		class="btn btn-danger" id="btn-update">Delete
		
	</button>
	
</body>
</html>